= provide :title, "Home"

.hero-unit
  %h1 We're Moving to New York
  %p.cta
    We can't take all of our things with us. There won't be room in our new,
    unbelieveably-tiny apartment. Our loss is your gain. We're selling it all.
    Take a look.
  - button_text = "Help Us Get There &mdash; Buy Our Stuff".html_safe
  %p= link_to button_text, "#", class: "btn btn-large btn-success"

.page-header
  %h2 Recently Listed Items
  // 3 Most recently added items will be displayed here.
