= provide :title, "All Items"

.page-header
  %h1
    All Items
    - if signed_in?
      %span.pull-right
        = link_to "Admin View", admin_items_path, class: "btn" if signed_in?
        = link_to "Add Item", new_admin_item_path, class: "btn btn-success"

= render 'shared/image_grid', :items => @items