%dl
  %dt
    Will you ship an item to me?
  %dd
    Unfortunately, no. We're only interested in selling items locally in the
    Manhattan, Kansas area. However, anything we don't manage to sell is going
    to be stored in Oklahoma City, OK, so if you're from that area and are interested
    in an item, feel free to contact us.
  %dt
    Do you accept checks, credit cards, uncut gems or barters?
  %dd
    We only accept cash or certified checks.
  %dt
    Are all the items still available for sale?
  %dd
    We try our hardest to make sure this accurately reflects which items are still
    available, so odds are the answer is yes. Feel free to drop us a line to find
    out for sure!
  %dt
    I'm interested in buying several items, will you give me a discount?
  %dd
    If you are purchasing several items, we might be able to work something out.
    Send us a message through the contact form to the left and we'll see what we
    can do.
  %dt
    You didn't answer my question here, what should I do?
  %dd
    Send us an email using the form to the left and we'll get back to you as rapidly
    as humanly possible.
  %dt
    This was a great idea! Will you make a site like this for me?
  %dd
    Thanks! Unforunately, moving is keeping us pretty busy, but we'll meet you in
    the middle. You can find the source code for this site on
    <a href="http://github.com/prsimp/nycorbust/" target="blank">Github</a>!