@import "bourbon";

// Set Bootstrap variables
$baseFontFamily:            Helvetica, arial, sans-serif;
$textColor:                 #222;
$navbarBackground:          #fff;
$navbarBackgroundHighlight: #fff;
$navbarLinkColor:           #222;
$navbarLinkColorHover:      #ff0000;

@import "bootstrap";

/////////////////////
// Global Styles
/////////////////////

body { margin-top: 20px; }

// Override Bootstrap navbar

.navbar {
  .container { width: 940px; }
  .navbar-inner { @include box-shadow(none); }
  .nav > li > a {
    font-size: 1em;
    font-size: 1rem;
    line-height: 2.25;
    font-weight: bold;
    text-shadow: none;
  }
}

// Inline checkbox/label hack

input[type="checkbox"].inline-checkbox {
  float: left;
  margin-right: 10px;
}

// Give items thumbnails a faint inner border

.thumbnail img {
  border: 1px solid #eee;
}

// Spacing classes

.space-bottom {
  margin-bottom: 17px;
}

// Main form controls

.main-controls {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #eee;
}

/////////////////////
// Home Page Styles
/////////////////////

// Override Bootstrap Hero Unit

.hero-unit {
  background: image-url("nyc.jpg");
  border: 1px solid #bbb;
  padding: 32px 60px;

  p  { font-weight: bold; }
  p.cta { margin: 16px 0; }
}

/////////////////////
// Login Page Styles
/////////////////////

.row.login { padding-top: 25px; }

/////////////////////
// Item Styles
/////////////////////

p.description { font-size: 18px; line-height: 1.5; }
p.price { font-size: 24px; line-height: 1.5; font-weight: bold; }

.item-image {
  margin-bottom: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #eee;
}

td img {
  padding: 2px;
  border: 1px solid #DDD;
  @include border-radius(4px);
}

ul.ui-autocomplete {
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: solid 1px #999;
  cursor: default;

  li {
    background-color: #fff;
    border-top: solid 1px #ddd;
    margin: 0;
    padding: 0;

    a {
      color: #000;
      display: block;
      padding: 3px;
    }
    a.ui-state-hover, a.ui-state-active {
      background-color: #fffcb2;
    }
  }
}


/////////////////////
// Thumbnail Styles
/////////////////////

.thumb:hover {
  cursor: pointer;
  border-color: #aaa;
  @include box-shadow(0 0 4px 1px rgba(0, 105, 214, 0.25));
  @include transition(all .2s ease-in 0s);
}

a.item_display {
  color: $textColor;
  text-decoration: none;
}
