- @categories.each_slice(3) do |category_row|
  .row
    .span12
      %ul.thumbnails
        - category_row.each do |category|
          - unless category.items.empty?
            %li.span4
              %a.item_display(href="/categories/#{category.id}")
                .thumbnail.thumb
                  = image_tag category.category_image(:medium), alt: category.name
                  .caption
                    %h4= category.name