= provide :title, "All Categories"

.page-header
  %h1
    Items By Category
    - if signed_in?
      %span.pull-right
        = link_to "Admin View", admin_categories_path, class: "btn"
        = link_to "Add Categoy", new_admin_category_path, class: "btn btn-success"


= render 'category_grid'